{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">Contact</h2>
    <p>Please don't hesitate to reach out with technical problems / questions.</p>
    <p>{{ header_reg2 }}</p>

    <p>
        <b>For general technical matters:</b> admin [at] ot.football
    </p>
    <p>
        <b>For matters concerning the site backend:</b> jasper [at] ot.football
    </p>
    <p>
        <b>For matters concerning site data:</b> nick [at] ot.football
    </p>
    <p>
        <b>For questions, concerns, rants, and venture capital-related inquiries:</b> andrew [at] ot.football
    </p>
{% endblock %}