{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2 class="mt-4">{{ header_bold }}</h2>
<p>{{ header_reg }}</p>
<p>{{ header_reg2 }}</p>
<!----
<div class="row mb-4">
    {% for headers_value in table_headers %}
    <div class="col themed-grid-col"><b>{{ headers_value }}</b></div>
    {% endfor %}
</div>

{% for item in grid_items %}
<div class="row mb-4">
    {% for item_value in item %}
    <div class="col themed-grid-col">{{ item_value }}</div>
    {% endfor %}
</div>
{% endfor %}
-->
<h1 class="mt-4" id="draftHeader">threevox must draft - 2:00</h1>
<link href="{% static 'hello/tabulator-master/dist/css/tabulator.min.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript">
    var leegcode = "{{ leegcode }}";
</script>
<div id="draft-history"></div>
<button type="button" id="myBtn" onclick="draft_a_guy()">Draft heem</button>
<div id="example-table"></div>
<script type="text/javascript" src="{% static 'hello/tabulator-master/dist/js/tabulator.min.js' %}"></script>
<script type="text/javascript" src="{% static 'hello/draft.js' %}"></script>


{% endblock %}