{% extends 'base.html' %}

{% block content %}


    <h2 class="mt-4">{{ header_bold }}</h2>
    <p>{{ header_reg }} {% block start_draft_button %}{% endblock %}</p>
    <p>{{ header_reg2 }}</p>

    <div class="container">

    <div class="row mb-4">
        {% for headers_value in table_headers %}
        <div class="col themed-grid-col"><b>{{ headers_value }}</b></div>
        {% endfor %}
    </div>

    {% for item in grid_items %}
    <div class="row mb-4">
        {% for item_value in item %}
        <div class="col themed-grid-col">{{ item_value }}</div>
        {% endfor %}
        <div class="col"></div>
        {% for item_value in item %}
        <div class="col themed-grid-col">{{ item_value }}</div>
        {% endfor %}
    </div>
    {% endfor %}
</div>


    
</main>
{% endblock %}