{% extends 'base.html' %}
{% block content %}

<h2 class="mt-4">Global Leaderboard</h2>
<p>All users on ot.football and their total scores</p>
{% for leader_user in leader_users %}
    <div class="row mb-3">
    <div class="col-6 col-md-4 themed-grid-col">{{ leader_user.name }}</div>
    <div class="col-6 col-md-4 themed-grid-col">{{ leader_user.wins }}-{{ leader_user.losses }}</div>
    <div class="col-6 col-md-4 themed-grid-col">{{ leader_user.total_points }}</div>
    </div>
{% endfor %}
{% endblock %}

    
</main>


    
  </body>
</html>